/* START EDIT VERTICAL SCROLL BAR */

/* CHROME, EDGE, SAFARI */

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 20px;
}

/* FIREFOX */

body {
	scrollbar-width: thin;
	scrollbar-color: #555 transparent;
}

/* END EDIT */

body {
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: #121212;
	color: #aaa;
}

section {
	display: flex;
	align-items: center;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 6rem;
	padding-bottom: 9rem;
	min-height: 105vh;
}

section#skills div ul li p {
	margin-bottom: 0.3rem;
}

nav {
	justify-content: center !important;
}

nav div#navbar-list {
	font-weight: 800;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}

nav div#navbar-list li {
	display: block;
}

nav div#navbar-list a {
	color: #aaa;
}

nav div#navbar-list a:hover {
	color: #ddd;
}

nav div#navbar-list a.active {
	color: #fff;
}

nav div#navbar-list button {
	border-color: #555;
}

ul {
	padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	text-transform: uppercase;
	font-weight: 700;
	color: #eee;
}

h1 {
	line-height: 1;
	font-size: 6rem;
	margin-bottom: 0;
	position: relative;
	right: 0.13rem;
}

h2 {
	font-size: 3.5rem;
	margin-bottom: 4.5rem;
}

h3 {
	font-size: 2rem;
	margin-bottom: 0;
}

hr {
	margin: 0;
}

a {
	color: #f59d62;
	text-decoration: none;
}

a:hover {
	color: #f58031;
}

article:not(:last-child) {
	margin-bottom: 4.5rem;
}

p {
	text-align: justify;
}

.mb-6 {
	margin-bottom: 4rem !important;
}

.mt-10 {
	margin-top: 10rem !important;
}

.text-primary {
	color: #f59d62 !important;
}

.btn {
	color: #f59d62;
	border-color: #f59d62;
	transition: all 0.15s ease-in;
}

.btn:hover {
	color: #fff;
	background-color: #f59d62;
	transform: scale(1.075) perspective(1px)
}

.btn:focus {
	box-shadow: 0 0 0 0;
}

.lead {
	font-size: 1.1rem;
	margin-bottom: 4.5rem;
}

.subheading {
	font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 500;
}

.social-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
	width: 3.5rem;
	background-color: #333;
	color: #eee;
	border-radius: 100%;
	font-size: 1.5rem;
	transition: all 0.15s ease-in;
}

.social-icon:not(:first-child) {
	margin-left: 1.75rem;
}

.social-icon:hover {
	background-color: #f59d62;
	color: #fff;
	transform: scale(1.075) perspective(1px)
}

.nav-icon {
	color: #eee;
}

.list-inline {
	margin-left: 0.75rem;
}

ul.list-inline {
	padding-top: 0.25rem;
}

ul .list-inline-item:not(:first-child) {
	margin-left: 1rem;
	margin-top: 0;
}

li:not(:first-child) {
	padding-top: 0.25rem;
}

section#skills ul:not(:last-child) {
	margin-bottom: 4.5rem;
}

section#skills h3 {
	margin-bottom: 1rem;
}

#world-map {
	width: 720px;
	height: 360px;
	margin: auto;
}

@media (max-width: 992px) {
	nav {
		background-color: #333;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		justify-content: space-between !important;
	}

	section {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	a#repo-icon {
		font-size: 1.25rem;
	}

	a#repo-link {
		font-size: 0.9rem;
		position: relative;
		bottom: 0.14rem;
	}
}

@media (min-width: 992px) {
	body {
		padding-left: 17.5rem;
	}

	section {
		padding-right: 3rem;
	}

	nav {
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		width: 17.5rem;
		height: 100vh;
		border-right: 1px solid #333;
	}

	span.fa-li {
		padding-top: 0.05rem;
	}

	span.fa-li+* {
		margin-left: 0.35rem;
	}

	div#nav-bottom {
		position: absolute;
		bottom: 2rem;
	}

	a#repo-icon {
		font-size: 1.55rem;
	}

	a#repo-link {
		position: relative;
		bottom: 0.2245rem;
	}
}