name: validate

on:
  workflow_dispatch:
  push:
    branches:
      - develop

jobs:
  validate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - uses: actions/setup-node@v4

      - name: install node modules
        run: npm ci

      - name: run tests
        run: npm test

      - name: show tests summary
        uses: test-summary/action@v2
        with:
          paths: junit.xml
          show: all

      - name: merge `develop` in `main` branch
        uses: devmasx/merge-branch@master
        with:
          type: now
          from_branch: develop
          target_branch: main
          github_token: ${{ github.token }}
          message: merging `develop` into `main` using github actions
